 html,body{
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .container{
            height: 100%;
            background-color: #F8F9FA;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .box{
            background-color:#E3F2FD;
            padding: 50px;
            text-align: center;
            border-radius: 12px;
            border: 2px solid black;
        }

        textarea{
            width: 350px;
            height: 155px;
            border: 2px solid #fff;
            border-radius: 12px;
            padding: 10px;
            transition: background-color 0.3s, color 0.3s;
        }

        body.dark-mode textarea {
        background-color: #666;
        color: #fff;
        }

        body.dark-mode {
            background-color: #333;
            color: #fff;
        }

        .container.dark-mode {
            background-color: #444;
        }

        .box.dark-mode {
            background-color: #555;
            color: #fff;
        }

        textarea.dark-mode {
            background-color: #666;
            color: #fff;
        }

        #warning{
            color: red;
           display: none;
        }
